@mixin close {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 5px;
    overflow: hidden;
    margin: 10px;
    &:before, &:after {
        content: '';
        width: 100%;
        top: 50%;
        left: 0;
        margin-top: -1px;
        background: #fff;        
        height: 8px;
        margin-top: -4px;
        position: absolute;
    }
    &:before{
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &:after{
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}