.fin-menu{
    @media screen and (max-width: $screen-sm-min - 1) {
        display: none;
    }
    @media screen and (min-width: $screen-sm-min + 1) {
        display: flex;
        flex-direction: row;
        padding: 0 !important;
        margin-top: 0px !important;
        li{
            cursor: pointer;
            padding: 20px !important;
            &.li[class$="active"] {
                
            }
        }
    }
}